option_settings: 

    aws:elasticbeanstalk:application:environment: 
        PARSE_MOUNT: "/parse" 
        APP_ID: "wJjWR5KTriUoPNnDH3baAQMkWvpAhuFhNU7PsKOP" 
        MASTER_KEY: "T6191e7kPbR9ksx93YEaXS2Jgyc67M6IdcdT8JXE" 
        DATABASE_URI: 'mongodb://root:dcoburei0409@ez-mdb-0.easyruta.4855.mongodbdns.com:27000,ez-mdb-1.easyruta.4855.mongodbdns.com:27000,ez-mdb-2.easyruta.4855.mongodbdns.com:27000/easyruta?replicaSet=easyruta&ssl=false' 
        NODE_ENV: "production" 
        SERVER_URL: "http://parseserver.spayurztpa.us-east-1.elasticbeanstalk.com/parse" 

    aws:elasticbeanstalk:container:nodejs: 
        NodeCommand: "npm start"

