option_settings: 
    aws:elasticbeanstalk:application:environment: 
        PARSE_MOUNT: "/parse" 
        APP_ID: "2hLYHTAUJ9QXMWxQTXsOIZ2jXJLGtMauw2QN34fE" 
        MASTER_KEY: "oqmfNH1EzA8KQM32DpWYlG2CXTJAcKs7ewVAgtUL" 
        DATABASE_URI: 'mongodb://root:dcoburei0409@ezqa-mdb-0.easyruta-qa.1088.mongodbdns.com:27000/easyruta?ssl=false' 
        NODE_ENV: "development" 
        SERVER_URL: "http://parseserverqa.zkr8u4mwnu.us-east-1.elasticbeanstalk.com/parse" 
    aws:elasticbeanstalk:container:nodejs: 
        NodeCommand: "npm start

